.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.uploadContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  background-color: var(--second-color-background);
  width: 100%;
  padding: 1rem;
  height: 2.5rem;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 0.75rem;
  -webkit-border-radius: 0.75rem;
  -moz-border-radius: 0.75rem;
  -ms-border-radius: 0.75rem;
  -o-border-radius: 0.75rem;
  color: var(--primary-text-color);
  font-weight: bold;
  grid-area: header;
}

/* Styles for the text input */
.textInput {
  width: 100%;
  margin-bottom: 1rem;
  height: 2.25rem;
  margin-top: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  grid-area: controls;
  padding: 0.5rem;
}

/* Styles for the Upload Button */
.uploadButtonContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  grid-area: image;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.uploadButtonContainer input::file-selector-button {
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 0.75rem;
  font-weight: bold;
  text-align: center;
  grid-area: image;
  background-color: var(--background-button);
  width: 100%;
  height: 2.25rem;
  color: var(--background);
}

.imageContainer {
  display: flex;
  width: 100%;
  grid-area: file;
  margin-top: 2rem;
  justify-content: center;
}

/* Styles for the file input */

.fileInput {
  display: inline-block;
  cursor: pointer;
  width: 100%;
  height: 3rem;
  border-radius: 0.75rem;
  -webkit-border-radius: 0.75rem;
  -moz-border-radius: 0.75rem;
  -ms-border-radius: 0.75rem;
  -o-border-radius: 0.75rem;
  font-weight: bold;
  grid-area: image;
}
/* Styles for the filters container */
.filtersContainer {
  width: 100%;
  margin: 1rem;
  grid-area: controls;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  /* align-items: center; */
}

/* Styles for the modified image */
.modifiedImage {
  margin-bottom: 20px;
}

.image {
  max-width: 100%;
  max-height: 487px;
}

.title {
  font-size: 1.28rem;
}

/* Styles for the sliders */
.rangeInput {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: var(--second-color-background);
  border-radius: 5px;
  outline: none;
  padding: 0;
  margin: 0;
}

.rangeInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  background: var(--secondary-color);
  border-radius: 50%;
  cursor: pointer;
}

.rangeInput::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  background: var(--secondary-color);
  border-radius: 50%;
  cursor: pointer;
}

.rangeInput::-ms-thumb {
  width: 1rem;
  height: 1rem;
  background: var(--secondary-color);
  border-radius: 50%;
  cursor: pointer;
}

/* Styles for the labels */
.label {
  display: block;
  margin-bottom: 5px;
  color: var(--primary-text-color);
  font-weight: 500;
}

/* Styles for the buttons */
.button {
  background-color: var(--background-button);
  color: var(--background);
  width: 100%;
  height: 2rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.removeButton {
  border: none;
  background-color: var(--background);
  text-align: right;
  text-decoration: underline;
  font-weight: lighter;
}

.checkboxSizesContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
}

.checkboxSizesContainer input {
  margin-right: 1rem;
}

@media only screen and (min-width: 50em) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      'header header header header'
      'file file controls controls'
      'image image controls controls'
      'footer footer footer footer';
    align-items: flex-start;
  }

  .title {
    grid-area: header;
  }
  .textInput {
    grid-area: controls;
  }

  .uploadButtonContainer {
    grid-area: image;
  }
  .imageContainer {
    grid-area: file;
  }
}
