.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 6rem;
  min-height: 100vh;
}

.link {
  color: blue;
  text-decoration: underline;
}

.link:hover {
  color: purple;
}

@media (prefers-color-scheme: dark) {
  .link {
    color: lightskyblue;
  }
  .link:hover {
    color: lightcoral;
  }
}
